%ul#messages
  = partial('message', messages)
%form{ method: 'post' }
  %input{ type: 'hidden', name: '_method', value: 'put' }
  %input{ type: 'text', name: 'name', value: name || 'guest' }
  %input{ type: 'text', name: 'message' }
  %input{ type: 'hidden', name: 'lat' }
  %input{ type: 'hidden', name: 'lng' }
  %input{ type: 'hidden', name: 'distance'}      
  %input{ type: 'submit', value: 'Send' }